@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
  .animate-pause:hover .animate-scroll{
    animation-play-state: paused;
  } 
  .animate-pause:before{
    position: absolute;
    background: red;
    width: 250px;
  
    content: "";
    top: 0;
    left:0;
  }